body {background-color: rgb(253, 165, 214);
}

.part01 { color:rgb(238, 238, 238);
     font-size: 150%;
    text-align: center;}

.part01 {border-color: rgb(224, 224, 224);
    border-style: dashed;
    border-width: 5px;
    margin-left: 30%;
    margin-right: 30%;
text-align: center;}

.part02{ color:rgb(238, 238, 238);
        font-size: 150px;
       text-align: center;}

.part3{color:rgb(238, 238, 238);
        font-size: 150%;
       text-align: center;}
       
.part3{border-color: rgb(224, 224, 224);
    border-style: dashed;
    margin-left: 50%;
    margin-right: 50%;
text-align: center;}
#ima3{
    width: 70%;
}
#ima4{
  width: 70;

}
#ima5{
    width: 70%;
}