body {background-color: rgb(253, 165, 214);
}

.part01 { color:rgb(238, 238, 238);
     font-size: 1;
    text-align: center;}

.part01 {border-color: rgb(224, 224, 224);
    border-style: dashed;
    margin-left: 30%;
    margin-right: 30%;}

    .part02{ color:rgb(238, 238, 238);
        font-size: 500;
       text-align: center;}
   
